html, body{
    width: 100vw;
    height: 100vh;
    background-color: red;
    padding: 0%;
    margin: 0%;
    animation: mymove 2s infinite;
}



@keyframes mymove {
  from {background-color: yellow;}
  to {background-color: orange;}
}

.container{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('path879.png');
    float: left;
}