html, body{
    width: 100%;
    height: 100%;
    background-color: #ffd700ff;
    padding: 0%;
    margin: 0%;

}


.container{
width: 100%;
height: 100%;
background-position: center;
background-image: url("g4052.png");
background-size: cover;
float: left;
position: absolute;
}

.colorss{
 
    color: black;
}

a:link{
    color: white;
}

.mail{
        font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    top: 97%;
    float: right;
    color: black;
    padding-right: 12px;
}
